      body{background-color: #EAF6F6;}
      hr{
      border-style: none;
      border-top-style: dotted;
      border-color: #66BFBF;
      border-width: 3px;
      width: 10%;
      }
      H1{
        color: #66BFBF;
      }
      H2{
        color: #66BFBF;
      }
