body{
    text-align: center;
}
header{
    text-align: right;
}


.title{
  position: relative;
  padding-top: 200px;
  padding-bottom: 240px;
  background-color: black;
  color: red;
  font-family: 'Dancing Script';
}

.title-logo{
  width: 250px;
}

.btn-danger{
  margin: 30px 30px;
  
  
}

.main_menu{
  padding-top: 50px;
  padding-bottom: 100px;
  font-family: "Dancing Script";
}

.combo{
  background-color: black;
  color: yellow;
  padding-bottom: 300px;
  padding-top: 100px;
}
.testimonials{
  padding-top: 100px;
  color:black;  
  background-color: grey;
  padding-bottom: 50px;
}
.carousel-item{
  color: white;
}