body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 25px;
 }

.H1{
    background-color: #CDF0EA;
    padding-top: 90px;
    position: relative;

}
.Title{
  position: relative;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  margin-bottom: 0;
  color: #66BFBF;

}
.sub-title{
  font-family: 'Charis SIL', serif;
  font-size: 2rem;
  margin-top: 0;
  color: #66BFBF;
}
.hello{
  color: #66BFBF;
}
Hr{
  border-style: dotted;
  border-color:#66BFBF;
  margin: 0 700px 0 700Px;
  border-top: 200Px;
  border-width: thick;
}
.skill-row{
  text-align: left;
  margin: 0 200px 100px 200px;
  letter-spacing: 5;
}
.myskills{
    color: #66BFBF;
    text-align: center;
    margin-bottom: 50px;
}

.Design-Development{
  color: #66BFBF;
  margin-bottom: 0;
  margin-top: 0;
}
.Design-image{
  width: 170px;
  float: left;
  margin-right: 35px;
  position: relative;
  bottom: 15px;

}

.Work-Exp{
  color: #66BFBF;
  text-align: right;
}
.work-experience{
  text-align: right;
  margin: 0 200px 0 200px;
}
.work-img{
  width: 150px;
  float: right;
  margin-left: 35px;
}
.middle-container{
  margin: 10px 200PX 10px 200PX;
}

.bottom-container{
  margin-top: 100px;
  height: 120px;
  background-color: #CDF0EA;
}

.top-cloud{
  position: absolute;
  right:500px;
  top: 50px;
}
.bottom-cloud{
  position: absolute;
  border-bottom: 100px;
  left: 500px;
}
.mountain{
  position: relative;
  left: 30px;
}

.buttonClass {
  font-family: verdana;
  font-weight: bold;
  color: #FEFFFA;
  font-size: 17px;
  text-shadow: 0 0 0 #757575;
  box-shadow: 1px 1px 1px #BEE2F9;
  padding: 10px 25px;
  border-radius: 10px;
  border: 2px solid #3866A3;
  background: #3BACB6;
  background: linear-gradient( top, #3BACB6, #B3E8E5);
}

.buttonClass:hover {
  color: #FEFFFA;
  background: #468CCF;
  background: linear-gradient( top, #468CCF, #63B8EE);
}
.getintouch{
 color: #66BFBF;
}
.mark{
  font-size: 0.5rem;
  margin-top: 15px;
  font-weight: bolder;
}
